<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LABSOUT</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="topo">
    <div class="container">
      <div class="content">
        <div class="text-content">
          <p>Bem-vindo ao<br> <span class="highlight">LABSOUT</span></p>
          <p>__________________________________________________</p>
          <p>Estamos empenhados em fornecer uma experiência fácil e<br>conveniente para os professores reservarem laboratórios.</p>
          <p>Aproveite esta ferramenta para facilitar suas atividades<br> acadêmicas e garantir acesso aos recursos necessários.</p>
          <a href="/login"><button type="button">Iniciar</button></a>
        </div>
        <img src="/imagens/inicial.png" alt="Laptop e Beaker">
      </div>
    </div>
  </div>
  
  <div class="vantagens">
    <div class="vantagem">
      <i class="bi bi-clock-history"></i>
      <p>Reserva rápida e fácil</p>
    </div>
    
    <div class="vantagem">
      <i class="bi bi-shield-check"></i>
      <p>Segurança e confiabilidade</p>
    </div>
    <div class="vantagem">
      <i class="bi bi-calendar-check"></i>
      <p>Agendamento garantido</p>
    </div>
  </div>
</body>
</html>
