body {
    font-family: Arial;
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B67A0;
    padding: 5px 20px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.navbar-center {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 15px;
}
.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    display: block;
    transition: color 0.3s, background-color 0.3s; 
}

.navbar-menu li a:hover {
    background-color: #7d5387;
    color: #fff;
    border-radius: 5px;
}
.navbar a:hover {
    color: #ddd;
} 

.icon-sair {
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 25px 0;
    text-align: center;   
}
.square {
    width: 600px;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 20px auto;
}
.ambiente {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.form-group {
    width: 300%;
    max-width: 400px;
    margin-bottom: 10x;
    transform: translateX(-45px);
}

.form-control {
    border-radius: 15px;
    height: 37px;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    background-color: #8B67A0;
    color: #fff;
    height: 35px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    transform: translateX(30px);
}

.btn:focus,
.btn:active {
    background-color: #8B67A0 !important;
    color: #fff;
    outline: none; 
    box-shadow: none; 
}

.btn:hover {
    background-color: #554061;
}

body::after {
    content: "";
    position: fixed; 
    bottom: 0;
    right: 0;
    width: 550px; 
    height: 450px;
    background-image: url('/imagens/fundo.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: bottom right; 
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.eye-icon {
    position: absolute;
        right: 8px;
        top: 40px;
        cursor: pointer;
        background: none;
        border: none;
        color: #6c757d;
        outline: none;
        box-shadow: none;
}
.eye-icon:focus {
    outline: none;
    box-shadow: none;
}
.password-container {
    position: relative;
    width: 100%;
}