body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B67A0;
    padding: 10px 20px;
}

.navbar-title {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.icon-sair {
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.navbar-left {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: #8B67A0;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8B67A0;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.navbar-right {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-left: auto; 
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #775b7e;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #7d5387;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.illustration {
    flex: 1;
    padding-right: 10px;
}

.illustration img {
    max-width: 80%;
    height: auto;
    flex: 1;
    padding-right: 20px;
}

.text-content {
    flex: 1;
    max-width: 500px;
}

.text-content h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 50px;
}

.text-content p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.disponibilidade {
    width: 100%;
    max-width:250px;
    border-radius: 15px;
    background-color: #8B67A0; 
    color: #fff;
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
    border: none;
}

.disponibilidade:hover {
    background-color: #554061;
}