body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #DFDFDF;
    color: #333;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
} 

.voltar-button {
    background: none;
    border: none;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}   

.container2 {
    max-width: 850px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.voltar-button:hover {
    background: #f0f0f0;
    color: #000; 
    border-color: #000;
}

h1 {
    flex: 1; /* Ocupa o espaço disponível */
    text-align: center; /* Centraliza o texto */
    font-size: 35px;
}

.table-container {
    max-height: 300px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto; /* Adiciona rolagem vertical */
    border-radius: 20px;
    border: 1px solid #ddd; /* Opcional: Adiciona uma borda ao redor do contêiner */
}

/* Estilização da barra de rolagem para navegadores WebKit (Chrome, Safari) */
.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #a7a5a5;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
}

thead {
    background-color: #ffffff; /* Fundo dos cabeçalhos da tabela */
    position: sticky;
    top: 0; /* Fixa o cabeçalho no topo do contêiner */
    z-index: 2; /* Garante que o cabeçalho fique sobre o corpo da tabela */
}

th, td {
    padding: 15px;
    font-size: 19px;
    text-align: left;
    color: #333;
}

.deletar-button {
    background: none;
    border: none;
    color: #e74c3c;
    cursor: pointer;
    font-size: 18px;
}

body::after {
    content: "";
    position: fixed; /* Fixa a imagem na tela */
    bottom: 0;
    right: 0;
    width: 550px; /* Ajuste a largura conforme necessário */
    height: 450px; /* Ajuste a altura conforme necessário */
    background-image: url('/imagens/fundo.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o elemento */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: bottom right; /* Garante que a imagem esteja no canto inferior direito */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}
