<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/calendario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <title>LABSOUT</title>
    <style>
        .navbar-title {
            color: #fff;
            font-size: 20px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-lado">
            <a href="/inicialusuario" class="navbar-icon">
                <i class="bi bi-calendar2-week"></i>
            </a>
            <span class="navbar-title"><strong>LABSOUT</strong></span>
        </div>
    </nav>
    <div class="main-content">
        <h3>Setembro</h3>
        <div class="button-container">
            <div class="button-lab">
                <button><b>1</b></button>
                <button><b>2</b></button>
                <button><b>3</b></button>
                <button><b>4</b></button>
                <button><b>5</b></button>
                <button><b>6</b></button>
                <button><b>7</b></button>
                <button><b>8</b></button>
                <button><b>9</b></button>
                <button><b>10</b></button>
                <button><b>11</b></button>
                <button><b>12</b></button>
                <button><b>13</b></button>
                <button><b>14</b></button>
                <button><b>15</b></button>
                <button><b>16</b></button>
                <button><b>17</b></button>
                <button><b>18</b></button>
                <button><b>19</b></button>
                <button><b>20</b></button>
                <button><b>21</b></button>
                <button><b>22</b></button>
                <button><b>23</b></button>
                <button><b>24</b></button>
                <button><b>25</b></button>
                <button><b>26</b></button>
                <button><b>27</b></button>
                <button><b>28</b></button>
                <button><b>29</b></button>
                <button><b>30</b></button>
            </div>
        </div>
        <div class="nav-buttons">
            <button><i class="bi bi-arrow-left-circle"></i></button>
            <button><i class="bi bi-arrow-right-circle"></i></button>
        </div>
    </div>
</body>
</html>