<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicialadmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"> <!-- Link adicionado -->
    <title>LABSOUT</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-icon"><i class="bi bi-calendar2-week"></i></div>
        </div>
        <div class="navbar-center">
            <ul class="navbar-menu">
                <li><a href="#">Ambientes</a></li>
                <li><a href="#">Usuários</a></li>
                <li><a href="#">Cadastrar Ambiente</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="navbar-icon">
                <button class="icon-sair"><i class="bi bi-box-arrow-right"></i></button>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="illustration">
            <img src="imagens/inicialadmin.png" alt="Ilustração Administrador">
        </div>
        <div class="text-content">
            <h1>Você entrou como administrador!</h1>
            <p>Cadastre novos ambientes da instituição para proporcionar uma boa experiência das aulas práticas.</p>
            <p>Visualize os usuários e ambientes cadastrados!</p>
        </div>
    </div>
</body>
</html>
