<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="/imagens/icone.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicialadmin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"> <!-- Link adicionado -->
    <title>LABSOUT</title>
    <style>

         .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-btn {
            background-color: #8B67A0;
            color: white;
            padding: 7px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }
        .dropdown-btn:hover {
            background-color: #7d5387;
        }
        .dropdown-content {
            display: none; 
            position: absolute;
            background-color: #8B67A0;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 10px;
        }
        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border-bottom: 1px solid #775b7e;
        }
        .dropdown-content a:last-child {
            border-bottom: none;
        }
        .dropdown-content a:hover {
            background-color: #7d5387;
            border-radius: 10px;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-icon"><i class="bi bi-calendar2-week"></i></div>
            <span class="navbar-title"><strong>LABSOUT</strong></span>
        </div>

        <div class="navbar-right">
            <div class="dropdown">
                <button class="dropdown-btn"><strong>Cadastrar</strong></button>
                <div class="dropdown-content">
                    <a href="/cadastrarsetor"><strong>Cadastrar Setor</strong></a>
                    <a href="/cadastroambiente"><strong>Cadastrar Ambiente</strong></a>
                    <a href="/cadastrarusuario"><strong>Cadastrar Usuário</strong></a>
                </div>
            </div>
        
            <div class="dropdown">
                <button class="dropdown-btn"><strong>Visualizar</strong></button>
                <div class="dropdown-content">
                    <a href="/laboratorios"><strong>Ambientes</strong></a>
                    <a href="/reservas"><strong>Reservas</strong></a>
                    <a href="/usuarios"><strong>Usuários</strong></a>
                    <a href="/setores"><strong>Setores</strong></a>
                </div>
            </div>
        
            <button id="botaoSair" class="icon-sair"><i class="bi bi-box-arrow-right"></i></button>
        </div>

    </nav>
    <div class="main">
        <div class="illustration">
            <img src="imagens/inicialadmin.png" alt="Ilustração Administrador">
        </div>
        <div class="text-content">
            <h1>Olá <%= usuario && usuario.nome_usuario ? usuario.nome_usuario : "Visitante" %>, você entrou como administrador!</h1>
            <p>Cadastre ambientes da instituição para proporcionar uma boa experiência das aulas práticas.</p>
            <p>Visualize os usuários e ambientes cadastrados!</p>

                <a href="/adminlabs"><button id="disponibilidade" class="disponibilidade"><strong>Gerenciar Disponibilidade</strong></button></a>
           
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        //sair do sistema
        const botaoSair = document.getElementById('botaoSair');
            botaoSair.addEventListener('click', function () {
                Swal.fire({
                    title: 'Sair do sistema?',
                    text: "Você realmente deseja sair?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, sair!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                    // Fazer a requisição de logout para o servidor
                    fetch('/logout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire(
                                'Saída realizada!',
                                'Você foi desconectado com sucesso.',
                                'success'
                            ).then(() => {
                                // Redirecionar para a página inicial
                                window.location.href = '/';
                            });
                        }else {
                            return response.json().then(data => {
                                Swal.fire('Erro', data.message || 'Erro ao sair do sistema.', 'error');
                        });
                    }
                })
                    .catch(error => {
                        console.error('Erro ao tentar sair:', error);
                        Swal.fire('Erro', 'Erro ao tentar sair do sistema.', 'error');
                    });
                    }
                });
            });
    </script>
</body>
</html>
