<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="/imagens/icone.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicialusuario.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <title>LABSOUT</title>
    <style>
        .navbar-title {
            color: #fff;
            font-size: 20px;
            margin-left: 10px; 
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-esquerda">
            <div class="navbar-esquerda">
                <i class="bi bi-calendar2-week"></i>
                <span class="navbar-title"><strong>LABSOUT</strong></span> 
            </div>
        </div>

        <div class="navbar-center">
            <ul class="navbar-menu">
                <li><a href="/selecaolab">Reservar ambientes</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="navbar-icon">
                 <a href="/telausuario" class="icon-perfil-link">
                    <button class="icon-perfil"><i class="bi bi-person-circle"></i></button>
                </a>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="illustration">
            <img src="imagens/usuarioteste.png" alt="Ilustração Reservas">
        </div>
        <div class="text-content">
            <h1>Bem Vindo!</h1>
            <p>Reserve novos ambientes da instituição para proporcionar uma boa experiência das aulas práticas.</p>
            <p>Reserve e cancele a hora que quiser.</p>
        </div>
    </div>
</body>
</html>