<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/laboratorios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <title>LABSOUT</title>
    <style>
        .navbar-title {
            color: #fff;
            font-size: 20px;
            margin-left: 10px; 
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-lado">
            <a href="/inicialadmin" class="navbar-icon">
                <i class="bi bi-calendar2-week"></i>
            </a>
            <span class="navbar-title"><strong>LABSOUT</strong></span> 
        </div>
    </nav>
    <div class="main-content">
        <h1>LABORATÓRIOS</h1>
        <div class="button-container">
            <div class="button-lab">
                <% if (ambientes && ambientes.length > 0) { %>
                    <% ambientes.forEach(ambiente => { %>
                        <div class="lab-item">
                            <button><%= ambiente.nome_ambiente %></button>
                            <button class="delete-btn" onclick="confirmDelete('<%= ambiente.id_ambiente %>', '<%= ambiente.nome_ambiente %>')">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>Nenhum ambiente cadastrado.</p>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(idAmbiente, nomeAmbiente) {
        Swal.fire({
            title: `Tem certeza que deseja deletar o laboratório "${nomeAmbiente}"?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, deletar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/deletarambiente/${idAmbiente}`;
            }
        });
    }
    </script>
</body>
</html>
