<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LABSOUT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="square">
        <div class="purple-section">
            <h1 class="title">LABSOUT</h1>
            <p class="subtitle">___________________ <br> bem vindo de<br> volta!</p>
        </div>
        <div class="login-section">
            <form>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-primary"><strong>Entrar</strong></button>
            </form>
        </div>
        <img src="imagens/LOGIN.png" alt="Login Image" class="login-image">
    </div>
</body>
</html>
