<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LABSOUT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap">
    <link rel="stylesheet" href="/css/modificarsenha.css">
</head>
<body>
    <div class="container">
        <div class="purple">
            <h1 class="title">LABSOUT</h1>
            <p>_____________________________</p>
            <p class="subtitle">Bem vindo!</p>
        </div>
        <div class="modificar-section">
            <form>
                <div class="form-group">
                    <label for="current-password">Digite senha atual:</label>
                    <input type="password" id="senha" class="form-control" placeholder="Senha Atual">
                </div>
                <div class="form-group">
                    <label for="new-password">Digite nova senha:</label>
                    <input type="password" id="novasenha" class="form-control" placeholder="Nova Senha">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirmar nova senha:</label>
                    <input type="password" id="confirmarsenha" class="form-control" placeholder="Confirmar senha">
                </div>
                <button type="submit" class="btn"><strong>Modificar</strong></button>
            </form>
        </div>
        <img src="imagens/modificar.png" alt="Modificar Image" class="modificar-image">
    </div>
</body>
</html>
