<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/selecaolab.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <title>LABSOUT</title>
    <style>
        .navbar a {
            color: #fff;
            text-decoration: none;
        }
        .navbar a:hover {
            color: #ddd; 
        }
        .navbar-title {
            color: #fff;
            font-size: 20px;
            margin-left: 10px; 
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-lado">
            <a href="/inicialusuario" class="navbar-icon">
                <i class="bi bi-calendar2-week"></i>
            </a>
            <span class="navbar-title"><strong>LABSOUT</strong></span> 
        </div>
    </nav>
    <div class="main-content">
        <h1>LABORATÓRIOS</h1>
        <p class="subtitle">Escolha um laboratório:</p>
        <div class="button-container">
            <div class="button-lab">
                <button>CCD</button>
                <button>MAKER</button>
                <button>TECH</button>
                <button>Química</button>
                <button>Biologia</button>
                <button>Edificações</button>
                <button>Laboratório Auditório</button>
                <button>Análises Clínicas</button>
            </div>
        </div>
    </div>
</body>
</html>
