<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LABSOUT</title>
    <link rel="stylesheet" href="/css/usuarios.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <style>
        .navbar a {
            color: #fff;
            text-decoration: none; 
        }
        .navbar a:hover {
            color: #ddd;
        }
        .navbar-title {
            color: #fff;
            font-size: 20px;
            margin-left: 10px; 
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/inicialadmin" class="navbar-icon">
                <i class="bi bi-calendar2-week"></i>
            </a>
            <span class="navbar-title"><strong>LABSOUT</strong></span> 
        </div>

        <div class="navbar-center"></div>
            <ul class="navbar-menu">
                <li><a href="/cadastrarusuario">Cadastrar Usuários</a></li>
            </ul>
        </div>
        
        <div class="navbar-right">
            <button id="botaoSair" class="icon-sair"><i class="bi bi-box-arrow-right"></i></button>
        </div>
        
    </nav>

    <div class="container">
        <header>
            <h1>Usuários</h1>
        </header>
    </div>
    <div class="container2">
        <section class="reservas">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Senha</th>
                            <th>CPF</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
    function formatarCPF(cpf) {
        cpf = cpf.replace(/\D/g, ''); // Remove caracteres não numéricos
        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o primeiro ponto
        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o segundo ponto
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona o traço
        return cpf;
    }
    //criando uma função para atualizar a página automaticamente após um delete
    function carregarUsuarios() {
                fetch('/usuarios/listar')
                    .then(response => response.json())
                    .then(listar => {
                        const tbody = document.querySelector('tbody');
                        tbody.innerHTML = '';

                        listar.forEach(usuario => {
                            const tr = document.createElement('tr');
                            tr.dataset.id = usuario.cpf;

                            tr.innerHTML = `
                                <td>${usuario.nome}</td>
                                <td>${usuario.senha}</td>
                                <td>${formatarCPF(usuario.cpf)}</td>
                                <td>${usuario.tipo}</td>
                                <td class="action-cell">
                                    <button class="deletar-button"><i class="bi bi-trash3"></i></button>
                                </td>
                            `;
                            tbody.appendChild(tr);
                        });

                        // evento de delete
                        document.querySelectorAll('.deletar-button').forEach(button => {
                            button.addEventListener('click', function () {
                                const row = this.closest('tr');
                                const id = row.dataset.id;
                                //aparecendo mensagem para confirmar delete
                                Swal.fire({
                                    title: 'Deletar usuário?',
                                    text: "Você não poderá desfazer essa ação!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Sim, deletar!',
                                    cancelButtonText: 'Cancelar'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        fetch(`/usuarios/deletar/${id}`, {
                                            method: 'DELETE'
                                        })
                                        .then(response => {
                                            if (response.ok) {
                                                carregarUsuarios(); // recarregar a tabela 
                                                //aparecendo mensagem de confirmação de delete
                                                Swal.fire(
                                                    'Excluído!',
                                                    'O usuário foi excluído.',
                                                    'success'
                                                );
                                            } else {
                                                return response.json().then(data => {
                                                    Swal.fire('Erro', data.message || 'Erro ao excluir o usuário.', 'error');
                                                });
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Erro ao excluir o usuário:', error);
                                            Swal.fire('Erro', 'Erro ao excluir o usuário.', 'error');
                                        });
                                    }
                                });
                            });
                        });
                    })
                    .catch(error => {
                        console.error('Erro ao carregar dados:', error);
                    });
            }

            carregarUsuarios(); // carregar a lista de usuarios ao iniciar a página

            //sair do sistema
            const botaoSair = document.getElementById('botaoSair');
            botaoSair.addEventListener('click', function () {
                Swal.fire({
                    title: 'Sair do sistema?',
                    text: "Você realmente deseja sair?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, sair!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                    // Fazer a requisição de logout para o servidor
                    fetch('/logout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire(
                                'Saída realizada!',
                                'Você foi desconectado com sucesso.',
                                'success'
                            ).then(() => {
                                // Redirecionar para a página inicial
                                window.location.href = '/';
                            });
                        }else {
                            return response.json().then(data => {
                                Swal.fire('Erro', data.message || 'Erro ao sair do sistema.', 'error');
                        });
                    }
                })
                    .catch(error => {
                        console.error('Erro ao tentar sair:', error);
                        Swal.fire('Erro', 'Erro ao tentar sair do sistema.', 'error');
                    });
                    }
                });
            });
        });
    </script>
</body>
</html>
